
<div class="alert alert-block alert-info" style="margin-top: 20px">
 <h1 align=center id="data_acquisition"> Data operations</h1>   
<p>

In [ ]:
# Importar la librería Pandas 
import pandas as pd

<div class="alert alert-block alert-info" style="margin-top: 20px">

Handling an excel file (with data from a cytometer)

In [ ]:
#  cargamos el fichero Excel
# 
df0 = pd.read_excel('data\HRC0001-22.xls')

In [ ]:
# Vemos su contenido
df0

In [ ]:
# Vemos los tipos de las columnas
df0.dtypes

In [ ]:
df1 = df0.copy()

In [ ]:
#  Usamos la columna 'id_muestra' como índice y lo guardamos en otro DF
df1 = df1.set_index('id_muestra')
#  o  df1 = df0.set_index('id_muestra')

In [ ]:
#  Vemos su contenido
df1.head()

<div class="alert alert-block alert-info" style="margin-top: 20px">

Cambiamos los valores de alguna columna

In [ ]:
df1.index

In [ ]:
# df2 = df1[['porcentaje_PE', 'media_PE', 'porcentaje_APC', 'media_APC']]
# df2['media_PE_norm']= df2['media_PE']/mean_PE

#  Esto da error:   A value is trying to be set on a copy of a slice from a DataFrame.
#                   Try using .loc[row_indexer,col_indexer] = value instead
# Creamos una copia pero solo con las columnas que nos interesan
# CUIDADO!!!  Luego no nos deja cambiar valores por columnas!!!!!!

#  Hay que crear una copia    df1[].copy()      !!!!
# !!!!!!!!!!!!!!!!!!!!!!!

df2 = df1[['Unnamed: 0','porcentaje_PE', 'media_PE', 'porcentaje_APC', 'media_APC']].copy()
df2

In [ ]:
df2.columns

In [ ]:
#  Podemos crear una nueva columna asignando valores (constantes o de operaciones con otras columnas)
df2['media_norm_PE'] = df2['media_PE'].copy()/df2['media_PE'].mean()

In [ ]:
df2

<div class="alert alert-block alert-info" style="margin-top: 20px">

Quitamos la filas que no tienen un id_muestra (el índice es NaN)

In [ ]:
df2.index

In [ ]:
# Buscamos los índices que son NaN (lista con todos los que son NaN y los que NO )
df2.index.isna()

In [ ]:
#  Creamos lista con los índices que son NaN (selecciono los que cumplen esa condición)
indices_nan = df2[df2.index.isna()].index
indices_nan

In [ ]:
# Se eliminan las filas con .drop
#  Si queremos realmente eliminarlo hay que poner:       inplace=True

df2.drop(df2[df2.index.isna()].index, inplace=True)
# o también df2.drop(indices_nan, inplace=True)

In [ ]:
df2

<div class="alert alert-block alert-info" style="margin-top: 20px">

Quitamos la filas que no tienen valor en 'media_PE'

In [ ]:
# Vemos los que tienen NaN en la columna 'media_PE'
df2[df2['media_PE'].isna()]

In [ ]:
#  Ahora vemos los que NO tienen NaN en la columna 'media_PE'
df2[df2['media_PE'].notna()]

In [ ]:
#  Creamos una copia pero SOLO con los que NO tienen NaN en la columna 'media_PE'
df3=df2[df2['media_PE'].notna()].copy()
df3

<div class="alert alert-block alert-info" style="margin-top: 20px">

Y si queremos que tampoco tenga NaN en 'media_APC'

In [ ]:
# Creamos un nuevo DF como una copia de df3 pero SOLO con los índices que no tiene NaN en la columna 'media_APC'
df4=df3[df3['media_APC'].notna()].copy()
df4

<div class="alert alert-block alert-info" style="margin-top: 20px">

También podemos quitar muestras si hay "NaN" en varias columnas con subconjuntos: df.dropna(subset=[col_i, col_j])
<p><b>dropna</b> elimina buscando los NaN</p>

In [ ]:
del(df3)
df3

In [ ]:
# También se puede hacer con DROPNA pero fijándonos solo en las columnas que digamos con SUBSET
df5=df2.dropna(subset=['media_PE','media_APC'])
df5


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h2 align=center id="data_acquisition"> Manipulating strings</h2>  
<p>

In [ ]:
df5.info()

<div class="alert alert-block alert-info" style="margin-top: 20px">

¡¡OJO!! Los porcentajes NO los está viendo como valores numéricos

In [ ]:
df5['porcentaje_PE']

In [ ]:
str0 = df5.iloc[0,1]
str0

<div class="alert alert-block alert-info" style="margin-top: 20px">

<p><b> string.split</b>(separator):  Split a string into a list where each word is a list item, where 'separator' specifies the separator to use when splitting the string</p>

In [ ]:
str0_list= str0.split(' ')
str0_list

In [ ]:
# Me quedo con el primer elemento
dato = str0_list[0]
dato

In [ ]:
dato*5

In [ ]:
type(dato)

In [ ]:
dato0 = float(dato)
dato0

<div class="alert alert-block alert-info" style="margin-top: 20px">

<p><b> string.replace</b>(oldvalue, newvalue, count)</p>

In [ ]:
dato1 = dato.replace(',','.')
dato1

In [ ]:
porcent = float(dato1)
porcent

In [ ]:
type(porcent)

In [ ]:
for i in range(len(df5)):
    str0 = df5.iloc[i,1]
#     str0_list= str0.split(' ')
    str0_0 = str0.split(' ')[0]
#     dato1 = dato.replace(',','.')
    porcent = float(str0_0.replace(',','.'))
    print(porcent)

In [ ]:
df6 = df5.copy()

<div class="alert alert-block alert-info" style="margin-top: 20px">
<p><b>functions</b></p>
<p>Lo podemos definir como una función

In [ ]:
def value_porcent(cell_str):
#     !!! Obtains the value of a porcentage (string)
    if cell_str[-1] == '%':
        num_str = cell_str[:-2]
        value = float(num_str.replace(',', '.'))
        print('celda: ', cell_str,'; valor del porcentaje:', value)
        return value
    else:
        return np.NaN

In [ ]:
porcentajes = []
for i in range(len(df5)):
    porcentajes.append(value_porcent(df5.iloc[i,1]))
    df6.iloc[i,1] = porcentajes[i]
df6

In [ ]:
df6['porcentaje_PE'].mean()

<div class="alert alert-block alert-info" style="margin-top: 20px">
cambiamos el nombre a la columna

In [ ]:
df6.rename(columns={'Unnamed: 0':'names'}, inplace=True)
df6.columns

<div class="alert alert-block alert-info" style="margin-top: 20px">
Vamos a extraer información de un string

In [ ]:
name0 = df6.iloc[0,0]
name0

In [ ]:
name0_chop = name0.split(' ')
name0_chop

In [ ]:
marker = name0_chop[1]
marker

In [ ]:
for i in range(len(df6)):
    name0 = df6.iloc[i,0]
    name0_chop = name0.split(' ')
    marker = name0_chop[1]
    print(marker)

In [ ]:
# cuando es CONTROL no hay marcador
for i in range(len(df6)):
    name0 = df6.iloc[i,0]
    name0_chop = name0.split(' ')
    marker = name0_chop[1]
    if len(name0_chop)>2 :
        print(i,marker)
    else:
        print('CONTROL')

In [ ]:
df7 = df6.copy()

In [ ]:
df6['marker']=''

In [ ]:
df6.columns

In [ ]:
# guardarmos el marcador en una columna
for i in range(len(df6)):
    ind = df6.index[i]
    name0 = df6.iloc[i,0]
    name0_chop = name0.split(' ')
    marker = name0_chop[1]
    if len(name0_chop)>2 :
        df6.iloc[i,6] = marker
        print(i,marker, ind,name0,':',df6.iloc[i,6])
        
    else:
        print('CONTROL')
        df6.iloc[i,6] = 'CONTROL'

In [ ]:
df6

In [ ]:
df6.to_excel('df6.xlsx')


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h2 align=center id="data_acquisition"> Sorting ang Ranking</h2>  
<p>