<h1 id="data_acquisition"> Estructura de datos: Series y tablas (DataFrame)</h1>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    
<p>
    The "<b>pandas</b>" name itself is derived from "<i>panel data</i>", an econometrics term for multidimensional
structured datasets, and a play on the phrase Python data analysis itself.
<p>    
    There are two main data structures:  <b>Series</b> and <b>DataFrame</b>

In [1]:
# Importar la librería Pandas 
import pandas as pd

<div class="alert alert-block alert-info" style="margin-top: 20px">

<h2> SERIES </h2>
<p>
    A Series is a one-dimensional array-like object containing a sequence of <b>values</b> (of
    similar types to NumPy types) and an associated array of data labels, called its <b>index</b>

In [2]:
#Series (dtype: int64)
serie1 = pd.Series([8,9,0,-5,7])
serie1

0    8
1    9
2    0
3   -5
4    7
dtype: int64

In [3]:
#Series (dtype: float64). All values in a series are of the same type
serie2 = pd.Series([8.0, 9, 0, -5, 7])
serie2

0    8.0
1    9.0
2    0.0
3   -5.0
4    7.0
dtype: float64

In [4]:
#Series (dtype: object)
serie3 = pd.Series([8, 9, 'poco',-5,7], name='Serie3')
serie3

0       8
1       9
2    poco
3      -5
4       7
Name: Serie3, dtype: object

In [6]:
# basic operations with different data types
print(serie1*4)
# print(serie2*4)
# print(serie3*4)

0    32
1    36
2     0
3   -20
4    28
dtype: int64

In [7]:
print(serie3.index)
print(serie3.values)

RangeIndex(start=0, stop=5, step=1)
[8 9 'poco' -5 7]

In [8]:
serie3.index=['a','b','c','d','e']
serie3.index
print(serie3)

a       8
b       9
c    poco
d      -5
e       7
Name: Serie3, dtype: object

In [9]:
indices4 = ['Id1', 'Id2', 'Id3', 'Id4']
valores4 = [1.3, 2.4, -3.8, 1e-4]
serie4 = pd.Series(valores4, index=indices4, name='Series4')
serie4

Id1    1.3000
Id2    2.4000
Id3   -3.8000
Id4    0.0001
Name: Series4, dtype: float64

In [ ]:
serie3['c']

In [ ]:
serie3[['a','c']]

In [ ]:
serie2.index=['Id1', 'Id2', 'Id3', 'Id4', 'Id5']
print(serie2)
print(serie4)
serie2_4 = serie2 + serie4
serie2_4

In [ ]:
serie4.name = 'Serie_prueba4'
serie4.index.name = 'Ids'
serie4

<div class="alert alert-block alert-info" style="margin-top: 20px">

<h2> DATAFRAMES </h2>
    
A DataFrame represents a rectangular table of data and contains an ordered collection
of columns, each of which can be a different value type (numeric, string,
boolean, etc.). The DataFrame has both a row and column index.

While a DataFrame is physically two-dimensional, you can use it to
represent higher dimensional data in a tabular format using hierarchical
indexing.

In [ ]:
# Creating a DataFrame from a dictionary of lists, arrays or tuples
data = {'col1':[1.0, 2.0, 3.0], 'col2':[11.1, 22.2, 33.3], 'col3':[-0.1, -0.2, -0.3]}
cols = ['col1', 'col3', 'col2']
df1 = pd.DataFrame(data, columns=cols, index=['ind1', 'ind2', 'ind3'])
df1

In [ ]:
#Creating a DataFrame from ndarray (¡¡ OJO que cada array es una FILA !!)
import numpy as np
data = np.array([[1.1, 2.2, 3.3], [-0.11, -0.22, -0.33], [11.0, 22.0, 33.0]])
df2 = pd.DataFrame(data, columns=cols, index=['ind11', 'ind22', 'ind33'])
df2

In [ ]:
#Creating a DataFrame from dictionary of Series
df3 = pd.DataFrame({'col_serie4': serie4, 'col_serie2': serie2}, columns=['col_serie2', 'col_serie4'])
df3

In [ ]:
# What if the indices are different? 
df3b = pd.DataFrame({'col_serie4': serie4, 'col_serie3': serie3}, columns=['col_serie4', 'col_serie3'])
df3b

In [ ]:
#The name of columns set and index set
df3.index.name = 'ÍNDICES'
df3.columns.name = 'COLUMNAS'
df3

In [ ]:
# only the values as a numpy array 
values3 = df3.values
values3

In [ ]:
# type(values3)
# type(df3.columns)

<div class="alert alert-block alert-info" style="margin-top: 20px">


<h3> Indexing</h3>
Selection of a column or a list of columns

In [ ]:
col2 = df3['col_serie2']
col2

In [ ]:
print(type(df3))
print(type(col2))

In [ ]:
# as a DataFrame (a list of columns)
col2 = df3[['col_serie2']]
col2

<div class="alert alert-block alert-info" style="margin-top: 20px">

<h2 align=center> Important: </h2>
The column returned from indexing a DataFrame is a <b>view</b> on the
underlying data, not a copy. Thus, any in-place modifications to the
Series will be reflected in the DataFrame. The column can be
explicitly copied with the Series’s <i>copy</i> method

In [ ]:
col2['Id1']=8.888
df3

<div class="alert alert-block alert-info" style="margin-top: 20px">


<h3> Copy()</h3>
create a copy of the Series or DataFrame

In [ ]:
col2b = df3['col_serie2'].copy()
col2b['Id1']=9.99
print(df3)
print(col2b)

<div class="alert alert-block alert-info" style="margin-top: 20px">

<h3> Add a new colum </h3>
Writting a new column name addd a new column (from a data list, ndarray, tuple)

In [ ]:
data5list = [5.1, 5.2, 5.3, 5.4, 5.5]
# data5tuple = (5.1, 5.2, 5.3, 5.4, 5.5)
# data5array = np.array(data5list)

df3['col_new']= data5list
df3

<div class="alert alert-block alert-info" style="margin-top: 20px">

<h2>Index objects</h2>
pandas’s Index objects are responsible for holding the axis labels and other metadata
(like the axis name or names).

In [ ]:
indices3 = df3.index
indices3

In [ ]:
data3 = df3.values
df4 = pd.DataFrame(data3, index=indices3)
df4

In [ ]:
df3.columns

In [ ]:
df4.columns

In [ ]:
df3.index

<b>reindex</b> can alter either the (row) index, columns, or both. When
passed only a sequence, it reindexes the rows in the result. The columns can be reindexed with the <i>columns</i> keyword.

In [ ]:
df3e = df3.reindex(columns=['col_serie4','col_serie2'])
df3f = df3e.reindex(['Id1','Id2','Id3','Id5','Id4','Id6'])
df3f

In [ ]:
df3g = df3.reindex(columns=['col_new','col_serie4','col_serie2'])
df3g

<div class="alert alert-block alert-info" style="margin-top: 20px">

<h3>Dropping entries</h3>

<b>drop</b> method will return a new object with the indicated value or values deleted from
an axis.

Delete a column or a row with the method <b>drop</b> (Drop specified labels from rows or columns).

There is also a pandas method for deleting columns: <b>del</b> (<i>del df['col']</i>)

In [ ]:
# df3['col_new'].del()
df3b = df3.drop('col_new', axis='columns', inplace=False)
print(df3)
df3b

In [ ]:
df3c = df3.drop('Id4', axis=0)
df3c

In [ ]:
df3d = df3.copy()
df3d

In [ ]:
del df3d['col_new']
df3d

In [ ]:
df3f.drop('Id6',axis=0, inplace=True)
df3f

In [ ]:
df3

<div class="alert alert-block alert-info" style="margin-top: 20px">

<h3> Selection by condition </h3>

In [ ]:
serie1[1:3]

In [ ]:
serie2['Id2':'Id4']

In [ ]:
df3h = df3g[['col_serie2','col_serie4']]
df3h

In [ ]:
df3hpos = df3h[df3h['col_serie2']>0]
df3hpos

In [ ]:
df3ipos = df3h[df3h['col_serie4']>0]
df3ipos

In [ ]:
df3h >0

<div class="alert alert-block alert-info" style="margin-top: 20px">

<h3> Selection with <i>loc</i> and <i>iloc</i></h3>
<p>

In [ ]:
df3h.loc['Id4']

In [ ]:
df3h.loc['Id4','col_serie2']

In [ ]:
df3h.loc['Id3':'Id5', 'col_serie2']

In [ ]:
df3h.loc[['Id3','Id5'], 'col_serie2']

In [ ]:
df3h.loc[df3h['col_serie2']>0, 'col_serie4']

In [ ]:
df3g

In [ ]:
df3i = df3g.reindex(['Id1','Id2','Id3','Id4','Id5','Id4'])
df3i

In [ ]:
df3i.loc['Id4']

In [ ]:
df3i.iloc[3:6,:]

In [ ]:
df3i.iloc[5,2]= 99.99
df3i

In [ ]:
df3i.loc['Id4']

In [ ]:
df3i.loc['Id4'].sum()

In [ ]:
df3i.iloc[[3,5],2].sum()

<h1 id="data_acquisition">Obtención de Datos</h1>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    
<p>
Existen varios formatos para un conjunto de datos, .csv, .xlsx, .json, etc. Los datos pueden ser almacenados en distintos lugares, ya sea localmente o en línea.
Lo más común es el formato 'csv' (Comma Separated Values) porque ocupa menos memoria y se puede leer con multitud de editores.
Cuando hablamos de "hojas de cálculo" suele llevar implícito un programa para visualizar los datos y trabajar con ellos, como Excel.

Nosotros trabajaremos <b>SOLO</b> con los <b>DATOS</b>, y cuando leamos un archivos Excel SOLO leeremos los datos (sin formatos, ni funciones).
<ul>
    <li>fuente de datos: <a href="https://github.com/JJ-Lab/Course_pandas/archive/refs/heads/main.zip" target="_blank">https://github.com/JJ-Lab/Course_pandas</a></li>
    <li>tipo de datos: csv y xlsx</li>
</ul>

</div>

<hr>

<div class="alert alert-block alert-info" style="margin-top: 20px">

<h3> Reading data file </h3>

<b> read_csv </b> and <b>read_excel</b>

In [ ]:

# Leer el archivo en línea desde la URL de arriba y asignarla a la variable "df"
# other_path = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"
# df = pd.read_csv(other_path, header=None)

In [ ]:
df = pd.read_csv('datos_autos_clean.csv')

In [ ]:
# Veamos el tipo de objeto que hemos creado
type(df)

In [ ]:
df.columns

Después de leer el conjunto de datos podemos utilizar el método <code>dataframe.head(n)</code> para revisar las primeras n filas del dataframe; donde n es un entero. Al contrario de <code>dataframe.head(n)</code>, <code>dataframe.tail(n)</code> mostrará las n filas del final del dataframe.

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

In [ ]:
df2 = pd.read_excel('datos_auto.xlsx')

In [ ]:
df.head(5)

In [ ]:
df2a = df2.set_index('Unnamed: 0', drop=False)
df2a

In [ ]:
df2

In [ ]:
df['body-style'].unique()

In [ ]:
df_sedan=df[df['body-style']=='sedan']
df_sedan

<div class="alert alert-block alert-info" style="margin-top: 20px">

<h3> Writting data file </h3>

<b> to_csv </b> and <b>to_excel</b>

In [ ]:
df3i.to_csv('df3i.csv')

In [ ]:
df3i.to_excel('df3i.xlsx')

For users of the R language for statistical computing, the DataFrame name will be
familiar, as the object was named after the similar R data.frame object. Unlike
Python, data frames are built into the R programming language and its standard
library. As a result, many features found in pandas are typically either part of the R
core implementation or provided by add-on packages.

<div class="alert alert-block alert-info" style="margin-top: 20px">

<h2 align=center> Ejercicios </h2>


<ol>
    <li> Crea un DataFrame con los autos que consuman menos de 10 "city-L/100km", con las columnas del fabricante ("make"), tipo de vehículo ("body-style"), potencia ("horsepower") y consumo. </li>
    <li> Añádele una columna con el consumo en euros, multiplicando la columna de consumo por 1.9 €/l, y llámala "city-€/100km"</li>
</ol>


<ol>
    <li> Lee un archivo excel y cámbiales el nombre de las columnas por 'col1', 'col2', etc. </li>
    <li> Cámbiale el nombre a los índices por 'Id1', 'Id2', etc.</li>
</ol>